@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="background-color:cyan">
<hr/>
    <h1>From child view</h1>
    <ul>
        <li>
            benz
        </li>
        <li>Innova</li>
        <li>Tesla M3</li>
    </ul>
    <hr/>
</div>
