@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<hr/>
<h1>
    <ul>
        <li>Wasted in engineering</li>
        <li>It happens for a Reason</li>
        <li>The leader in you</li>
        <li>The one Minute Manager</li>
    </ul>
</h1>