
@{
    ViewData["Title"] = "GetTime";
}

<h1>GetTime</h1>

<hi> Time=@ViewData["date"]</hi>

<div>
    <form action="GetTime">
        <input class="btn btn-danger" type="submit" value="🎆" />
    </form> 
</div>

