@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="jumpbotron">
        <div>INR:&#8377</div>
        <a asp-action="Echo" asp-route-name="venkat"
        asp-route-city="chennai">Call Echo</a>
        <a asp-action="SayHello" asp-route-name="Venkat">Call SayHello</a>
    </div>
</div>
<hr/>
